# Configuración de Base de Datos
POSTGRES_DB=torresdb
POSTGRES_USER=postgres
POSTGRES_PASSWORD=TorresControl_2026!

# Configuración de la Aplicación
NODE_ENV=production
PORT=3001
JWT_SECRET=ArrendamientoSecretKey_99*
DB_SSL=false
SURVEY_PUBLIC_BASE_URL=https://encuesta.andamiostorres.com

# Clave Maestra de Recuperación (BACKDOOR SEGURO)
# Cambia esto por algo muy largo y complejo
RECOVERY_KEY=CambiarEstaClavePorUnaSuperSegura2026!

# Cloudflare Tunnel
TUNNEL_TOKEN=TU_TOKEN_DE_CLOUDFLARE_AQUI

# Code Server (IDE)
CODE_SERVER_PASSWORD=TorresControl_IDE2026
